@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body, button, select, option {
  font-family: "Space Grotesk";
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  min-height: 0;
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  min-height: 0;
}

main #editor {
  flex-grow: 1;
  width: 50%;
  overflow: auto;
}

main #handle {
  width: 0.5rem;
  background-color: #efefef;
  cursor: e-resize;
}

main #out-wrapper {
  flex-grow: 1;
  width: 50%;
  overflow: auto;
}

footer {
  padding: 0.3rem;
}

/* CodeMirror styles */

.cm-editor {
  height: 100%;
}

.cm-editor .cm-content,
.cm-editor .cm-gutter,
#out p {
  font-family: "JetBrains Mono", monospace;
  font-size: 80%;
}

#out p {
  padding: 0;
  margin: 0;
  white-space: pre;
}
